.daytimeslider--table {}
.daytimeslider--firstcol {
    min-width: 30%;
    max-width: 35%;
}
.daytimeslider--secondcol {
    min-width: 20%;
    max-width: 30%;
}

@import '../../styles/main.scss';

////  react-input-range overwrites

$input-range-primary-color : #ffffff;
$input-range-slider-background: $primary;
$input-range-slider-border: $primary;
$input-range-track-active-background: lighten($input-range-slider-background, 20%);

@import 'react-input-range/src/scss/index.scss';

.daytimeslider {
    .input-range__label {
        display: none;
    }
}
