#### github /gitignore/C.gitignore

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

##### project

!.gitignore
!.gitkeep

# editors
*.geany
*.vscode/
*~
.cache
.idea

# generated code (see Makefile)
include/question_types.h
src/question_types.c

# local python code
python/*
!python/example.*

# sandbox file systems
sandbox/*
sandbox-*

# libs
kcgi/*

# binaries
surveycli
surveyfcgi
test_runner
test_units

# data
sessions/*
surveys/*
locks/*

# logs
logs/*
testlog/*

# docker env
.env

# local configurations
*.local
lighttpd.conf.tmp

# external modules
queue/*

# linters
compile_commands.*
cppcheck.log
valgrind.log
cppcheck-build/*

# dev env specific sripts
propTests.*
tmux*

# development
_dev/*
dev.*
TODO.*
*.bak
*.dev

# deploy scripts and configs
deploy
deploy.*

