# docker env
.env

logs/*
!logs/.gitkeep

testlog/*
!testlog/.gitkeep

sessions/*
!sessions/.gitkeep

surveys/*
!surveys/.gitkeep

# external modules
queue/*

# linters
compile_commands.*
cppcheck-log.*
valgrind-*

# dev env specific sripts
propTests.*

# dev docs
TODO.*
