# ------------
# - check logrotate configuration if external confs enabled: `cat /etc/logrotate.conf | grep /etc/logrotate.d`, line is not commented out?
# - mkdir -p /etc/logrotate.d
# - cp ./logrotate.conf.template /etc/logrotate.d/surveysystem.conf
# - test: logrotate -d /etc/logrotate.d/surveysystem.conf
# ------------

/var/log/jrc/* {
    daily
    rotate 14
    size 1M
    compress
    delaycompress
    notifempty
}
