@import "node_modules/bootstrap/scss/bootstrap";

// zebra
.question .row:nth-of-type(odd) {
    background-color: $table-accent-bg;
}

.row.question--horizontal {
    padding: $table-cell-padding;
}

.row.question--horizontal:hover {
    background-color: $table-hover-bg;
}
