node_modules/*
log/*
!.gitkeep

.~lock.*

# ignore symlink-ed fronend files, see #289
ext/*.js
ext/*.js

# ignore custom player configs
configs/*.js
!configs/.gitkeep

# ignore test sessions
sessions/*
!sessions/.gitkeep
